package eu.organicity.accounts.permissions;

import org.apache.commons.codec.binary.Base64;

public class Config {

	// Basic Auth token of the `Permission Component`
	private static String user = "user";
	private static String password = "password";
	public static String basicAuth = new String(Base64.encodeBase64((user + ":" + password).getBytes()));
	
}
